project           = "your-gcp-project-id"
region            = "asia-southeast2"
environment       = "dev"
network_name      = "cicd-network"
subnet_name       = "cicd-subnet"
subnet_cidr_range = "10.90.1.0/24"

